
<div class="grid-row">
	<div class="tablet-lg:grid-col-fill">
		<h2  class="sds-card--subtitle"><a class="usa-link">{{model.awardeeName}}</a></h2>
	</div>
	<div class="tablet-lg:grid-col-auto">
        <span class="sds-type--label-title">Record Date</span>
        <span class="sds-tag sds-tag--outline flex-justify-center">{{model.recordDate | date }}</span>
	</div>
	<div class="grid-col-auto">
		<sds-actions-menu [model]="menu" (clicks)="menuClicked($event)"></sds-actions-menu>
	</div>
</div>
<div class="grid-row">
	<div class="tablet-lg: grid-col">
	   <div class="sds-static--label">Unique Entity ID (DUNS)</div>
	   <div class="sds-static">{{model.DUNS}}</div>
	</div>
	<div class="tablet-lg: grid-col">
	   <div class="sds-static--label">Subtier</div>
	   <div class="sds-static">{{model.agency}} ({{model.agencyCode}})</div>
	</div>
	<div class="tablet-lg: grid-col">
	   <div class="sds-static--label">Record Type</div>
	   <div class="sds-static">{{model.recordType}}</div>
	</div>
</div>
<div class="grid-row">
	<div class="tablet-lg: grid-col">
	   <div class="sds-static--label">CAGE / NCAGE</div>
	   <div class="sds-static">{{model.CAGE}}</div>
	</div>
	<div class="tablet-lg: grid-col">
	   <div class="sds-static--label">Contract / Grant Number</div>
	   <div class="sds-static">{{model.awardNumber}}</div>
	</div>
	<div class="tablet-lg: grid-col">
	   <div class="sds-static--label">Termination Type</div>
	   <div class="sds-static">{{model.terminationType}}</div>
	</div>
</div>